.map {
  height: 31.25rem;
  background-color: white;
  padding: 1rem;
  border-radius: 1.25rem;
  margin-top: 1rem;
  box-shadow: 0 0 0.5rem -0.25rem rgba(0, 0, 0, 0.3);
}

.map .leaflet-container {
  height: 100%;
}

.info__flag {
  height: 5rem;
  width: 100%;
  background-size: cover;
  border-radius: 0.5rem;
}

.info__confirmed,
.info__recovered,
.info__deaths {
  font-size: 1rem;
  margin-top: 0.25rem;
}

.info__container {
  width: 9.25rem;
}

.info__name {
  font-size: 1.25rem;
  color: #555;
  font-weight: bold;
}
