* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem;
}

.app__left {
  flex: 1;
  margin-right: 1.25rem;
}

.app__dropdown {
  background-color: white;
}

.app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}

.app__header > h1 {
  color: #fc3c3c;
  font-size: 2rem;
}

.app__stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__right {
  display: flex;
  flex-direction: column;
}

.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__graph {
  flex-grow: 1;
}

.app__graphTitle {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
  .app__left {
    margin-right: 0;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 0.75rem;
  }
  .css-46bh2p-MuiCardContent-root {
    padding: 1rem !important;
  }
  .css-46bh2p-MuiCardContent-root:last-child {
    padding-bottom: 1.5rem !important;
  }
  .infoBox {
    text-align: center;
    height: 10.5rem;
  }
}
